POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=REPLACE_WITH_PCZ_DB_PASSWORD

PAPERLESS_HOST=paperless-pcz.format.lu
PAPERLESS_URL=http://paperless-pcz.format.lu
PAPERLESS_ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
PAPERLESS_COOKIE_PREFIX=pcz_
PAPERLESS_SECRET_KEY=REPLACE_WITH_PCZ_SECRET_KEY
PAPERLESS_TIME_ZONE=Europe/Luxembourg
PAPERLESS_OCR_LANGUAGE=deu+eng+fra
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless-core-gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://paperless-core-tika:9998
USERMAP_UID=1000
USERMAP_GID=1000

TRAEFIK_ENTRYPOINT=web
